*,
html{
    margin: 0;
    padding: 0;
}

.navbar-container {
background-color: aquamarine;
width: 100%;
}

.ul-navbar{
height: 100px;
display: flex;
height: 100px;
justify-content: center;
align-items: center;
}

.li-navbar{
border: 1px solid burlywood;
background-color: black;
list-style-type: none;
padding: 20px;
margin: 5px;
color:white ;
}

.container-content{
    background-color: black;
}

.img-content{
    width:30% ;
    height:30%;
}
